################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ImageUploader/obj
/ImageUploader/bin/Release/netcoreapp3.1
/.vs
/ImageUploader/bin/Debug/netcoreapp3.1
/ImageUploader/Properties
